*{margin: 0px;
padding: 0px;}
a{
  text-decoration:none;
}
  .login_background{

background-image: url(../img/login_background.jpg);
background-position: cover;
background-size: cover;
height: 100vh;

}



.login {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 350px;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 35px;
  backdrop-filter: blur(3px);
  background: #e3e3e387;
  -webkit-box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe;
  box-shadow: 16px 16px 32px #00000096, -16px -16px 32px #0000006b;
  border-radius: 8px;
}

.inputBox {
  position: relative;
  width: 250px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  -webkit-transform: translateX(113px) translateY(-15px);
      -ms-transform: translateX(113px) translateY(-15px);
          transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
.container{
width: 100%;
padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container12{
  width: 100%;
height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

/* nav start */
nav ul{
margin-top: auto;
  display: flex;
  margin-right:3rem;
}
nav li{
  list-style: none;  }

    
    #anav {
      text-decoration: none;
      color: #fc0000;
      padding: 7px 12px;
      margin: 0 5px;
      border-radius: 5px;
      position: relative;
      font-size: 18px;
      font-weight: 700;
      transition: color 0.3s;
      text-transform: uppercase;
  }
  #anav:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #1d74e7;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}
#anav:hover:before {
  transform: scaleX(1);
}
.table-success {
  --bs-table-bg: #d1e7ddb5;
  --bs-table-striped-bg: #c7dbd29e;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bcd0c79c;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #c1d6ccb3;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #bcd0c7d4;
}
table{
  border-radius: 15px;
}
.table-responsive {
  border-radius: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}




.container_serch {
  position: relative;
  background: linear-gradient(135deg, rgb(179, 208, 253) 0%, rgb(164, 202, 248) 100%);
  border-radius: 1000px;
  padding: 10px;
  display: grid;
  place-content: center;
  z-index: 0;
  max-width: 300px;
  margin: 0 10px;
}

.search-container {
  position: relative;
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
  padding: 5px;
  display: flex;
  align-items: center;
}

.search-container::after, .search-container::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
}

.search-container::before {
  top: -1px;
  left: -1px;
  background: linear-gradient(0deg, rgb(218, 232, 247) 0%, rgb(255, 255, 255) 100%);
  z-index: -1;
}

.search-container::after {
  bottom: -1px;
  right: -1px;
  background: linear-gradient(0deg, rgb(163, 206, 255) 0%, rgb(211, 232, 255) 100%);
  box-shadow: rgba(79, 156, 232, 0.7019607843) 3px 3px 5px 0px, rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
  z-index: -2;
}

.input {
  padding: 10px;
  width: 100%;
  background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
  border: none;
  color: #9EBCD9;
  font-size: 20px;
  border-radius: 50px;
}

.input:focus {
  outline: none;
  background: linear-gradient(135deg, rgb(239, 247, 255) 0%, rgb(214, 229, 247) 100%);
}

.search__icon {
  width: 50px;
  aspect-ratio: 1;
  border-left: 2px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  padding-left: 12px;
  margin-right: 10px;
}

.search__icon:hover {
  border-left: 3px solid white;
}

.search__icon path {
  fill: white;
}